extends email-layout

block content
  h2 Marhaba! You are welcome to become a Mosque Manager of MASJID.NG!
  p Assalamu Alaykum! Thanks for trying out. We’ve pulled together some information and resources to help you get started.
  
  p Thanks for registering on go.masjid.ng. We’re thrilled to have you on board please visit https://go.masjid.ng
  br
  p If you didn't register on go.masjid.ng, please ignore it.
  br
  p Massalam!
  br
  p The MASJID.NG Team

