extends layout

block content
  .inner
    h2= 'Masjid Locator'
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholder="Type a Location to Connect with a Nearby Mosque and Imam" name="geolocate")
      #map
        p Loading Map...
