extends layout

block content
  .inner
    h2= 'Qibla Finder'
    .qibla
      .autocomplete
        input.autocomplete__input(type="text" placeholder="find the Qibla Direction from where you are!" name="geolocate")
      #map
        p Loading Qibla Direction...
